.vscode/**
typings/**
**/test/**
src/**
**/*.map
.gitignore
.editorconfig
tsconfig.json
vsc-extension-quickstart.md
**/*.ts
**/node_modules/**/*.md
**/node_modules/**/*.txt
**/node_modules/.bin/**
.apiaryToken
**/LICENSE
